:root {
  --primary-white-color: #ffffff;
  --second-dark-color: #2f303a;
  --background-color: #f5f4fa;
  --accent-color: #2196f3;
  --primary-text-color: #212121;
  --second-text-color: #757575;
  --decoration-color: #afb1b8;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --effect-duration: 250ms;
  --main-font-family: "Roboto", sans-serif;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

img {
  display: block;
}

section {
  padding-bottom: 60px 0;
}

@media screen and (min-width: 1200px) {
  .section {
    padding: 94px 0;
  }
}

body {
  color: var(--second-text-color);
  background-color: var(--primary-bg-color);
  font-family: var(--main-font-family);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
}

@media screen and (min-width: 480px) {
  .container {
    width: 480px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  color: #000000;
  text-decoration: none;
  animation-duration: 500ms;
  animation-timing-function: var(--timing-function);
}

.logo__first-part {
  color: var(--accent-color);
}

.logo__text-header {
  padding: 24px 0;
  margin-right: 90px;
}

.logo__text-footer {
  color: var(--primary-white-color);
  margin-bottom: 20px;
  display: block;
}

.main-button {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  font-family: inherit;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  transition: color var(--effect-duration) var(--timing-function), background var(--effect-duration) var(--timing-function);
}

.main-button:hover, .main-button:focus {
  color: var(--primary-text-color);
  background: var(--background-color);
  cursor: pointer;
}

.title {
  font-size: 28px;
  font-weight: 700;
  line-height: 1.39;
  color: var(--primary-text-color);
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .title {
    font-size: 36px;
    font-weight: 700;
    line-height: 1.17;
    margin-bottom: 50px;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 500ms var(--timing-function);
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 500ms var(--timing-function), visibility 500ms var(--timing-function);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.5);
}

.close {
  position: absolute;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill var(--effect-duration) var(--timing-function);
}

.close:hover,
.close:focus .close-icon {
  fill: var(--accent-color);
}

.main-modal-form {
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.modal-form-titel {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.15;
  color: var(--primary-text-color);
  /* text-align: center; */
  margin-bottom: 12px;
}

.modal-form-field {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
  margin-bottom: 10px;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  margin-top: 4px;
  cursor: pointer;
  transition: border-color var(--effect-duration) var(--timing-function);
}

.modal-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  transition: fill var(--effect-duration) var(--timing-function);
}

.modal-form-input:focus + .modal-form-icon {
  fill: var(--accent-color);
}

.modal-form-message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  margin-bottom: 20px;
  resize: none;
  transition: border-color var(--effect-duration) var(--timing-function);
}

.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.modal-custom-checkbox {
  position: relative;
}

.modal-form-checkbox-label {
  color: var(--second-text-color);
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.modal-form-label-link {
  color: var(--accent-color);
}

.modal-form-checkbox:checked + .modal-form-checkbox-label::before {
  background-image: url("../images/icon_check.svg");
  background-color: var(--accent-color);
  background-size: contain;
  border: none;
  background-origin: border-box;
  align-items: center;
}

.modal-form-checkbox:focus + .modal-form-checkbox-label::before {
  outline: 1px solid var(--accent-color);
}

.modal-form-checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.modal-form-checkbox-label::before {
  display: block;
  content: "";
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  cursor: pointer;
  margin-right: 7px;
  background: var(--primary-white-color);
  border-radius: 2px;
}

.modal-form-btn {
  width: 200px;
  height: 50px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15); */
  padding: 10px 55px;
  margin: 0 auto;
  cursor: pointer;
  transition: background var(--effect-duration) var(--timing-function), box-shadow var(--effect-duration) var(--timing-function);
}

.modal-form-btn:hover, .modal-form-btn:focus {
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.mailing {
  /* display: flex; */
  padding-top: 72px;
  padding-bottom: 94px;
}

.mailing-form {
  position: relative;
  display: flex;
}

.mailing-titel {
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  width: 100%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.mailing-btn {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.88;
  width: 200px;
  height: 50px;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  border: none;
  border-radius: 4px;
  font-family: inherit;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.06em;
  padding: 10px 28px;
  cursor: pointer;
  margin: 0 auto;
  transition: background var(--effect-duration) var(--timing-function);
}

.mailing-btn:hover, .mailing-btn:focus {
  background: #188ce8;
}

.mailing-icon {
  fill: var(--primary-white-color);
  margin-left: 10px;
}

.mailing-input {
  width: 358px;
  height: 50px;
  font-size: 16px;
  color: var(--primary-white-color);
  background-color: transparent;
  padding: 15px 2px 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  cursor: pointer;
  margin-right: 12px;
}

.mailing-input:focus, .mailing-input:checked {
  border: 1px solid var(--primary-white-color);
}

.mailing-input::placeholder {
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.social-list {
  display: flex;
  background-size: cover;
  justify-content: center;
}

.social-list-item {
  height: 44px;
  width: 44px;
  background-size: cover;
}

.social-list-item:not(:last-child) {
  margin-right: 10px;
}

.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  transition: background-color var(--effect-duration) var(--timing-function);
}

.social-list-link:hover, .social-list-link:focus {
  background-color: var(--accent-color);
}

.social-list-icon {
  width: 20px;
  height: 20px;
  fill: var(--decoration-color);
  transition: fill var(--effect-duration) var(--timing-function);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--primary-white-color);
}

.social {
  text-align: center;
  padding-bottom: 60px;
}

.label {
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.footer-social-list {
  display: flex;
  width: 206px;
  justify-content: center;
}

.social-item {
  width: 44px;
  height: 44px;
}

.social-item:not(:last-child) {
  margin-right: 10px;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color var(--effect-duration) var(--timing-function);
}

.social-link:hover, .social-link:focus {
  background-color: var(--accent-color);
}

.social-icon {
  fill: var(--primary-white-color);
}

.list-filtre {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filtre-item:not(:last-child) {
  margin-right: 8px;
}

.filtre {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.63;
  color: var(--primary-text-color);
  background: var(--background-color);
  font-family: inherit;
  text-align: center;
  border-radius: 4px;
  border: none;
  padding: 6px 25px;
  transition: color var(--effect-duration) var(--timing-function), background var(--effect-duration) var(--timing-function), box-shadow var(--effect-duration) var(--timing-function);
}

.filtre:hover, .filtre:focus {
  color: var(--primary-white-color);
  background: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.all {
  color: var(--primary-white-color);
  background: var(--accent-color);
  fill: var(--primary-white-color);
}

.header {
  border-bottom: 1px solid #ececec;
}

.navigator__list-header,
.header-contact__list {
  display: none;
}

.head-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.burger-btn__icon {
  width: 40px;
  height: 40px;
  fill: black;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 110%;
  background-color: var(--primary-white-color);
  z-index: 100;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 500ms var(--timing-function), visibility 500ms var(--timing-function);
}

.mobile-menu__close-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  border: none;
  padding: 0;
  line-height: 0;
}

.mobile-menu.open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.mobile-menu__container {
  position: relative;
  padding: 48px 40px;
}

.mobile-menu__close-btn {
  position: absolute;
  background-color: transparent;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  padding: 0;
  top: 10px;
  right: 15px;
  cursor: pointer;
  transition: fill var(--effect-duration) var(--timing-function);
}

.mobile-menu__close-btn:hover,
.mobile-menu__close-btn:focus .mobile-menu__icon {
  fill: var(--accent-color);
}

.mobile-menu__container {
  position: relative;
  min-height: 200px;
  padding-top: 48px;
  padding-left: 40px;
}

.current {
  color: var(--accent-color);
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  display: block;
  border-radius: 2px;
  background-color: var(--accent-color);
}

.hero {
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../../images/MOB/mobile-hero.jpg");
  padding: 118px 60px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 480px;
  height: 400px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
}

.hero__title {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto;
  color: var(--primary-white-color);
  font-size: 26px;
  font-weight: 900;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/MOB/mobile-hero@2x.jpg);
  }
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/TAB/tablet-hero.jpg);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/TAB/tablet-hero@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    padding: 200px 0;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/DESC/desc-hero.jpg);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/DESC/desc-hero@2x.jpg);
  }
}

@media screen and (min-width: 1200px) {
  .hero__title {
    max-width: 696px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
  }
}

.main-features {
  padding-top: 60px;
}

@media screen and (min-width: 1200px) {
  .main-features {
    padding-top: 94px;
  }
}

.features {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.features__icon {
  display: flex;
  height: 120px;
  justify-content: center;
  align-items: center;
  background-color: #f5f4fa;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features__title {
  color: var(--primary-text-color);
  font-family: var(--main-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 10px;
}

@media screen and (min-width: 768px) {
  .features {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 354px);
  }
  __item {
    width: 354px;
  }
  __item:not(:last-child) {
    margin-bottom: 0px;
  }
}

@media screen and (min-width: 768px) {
  .features__title {
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .features {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
}

@media screen and (min-width: 1200px) {
  .features__item {
    flex-basis: 270px;
  }
  .features__item:not(:last-child) {
    margin-right: 30px;
  }
}

.work {
  padding: 94px 0;
}

@media screen and (max-width: 1199px) {
  .work {
    display: none;
  }
}

.our-work {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.our-work__description {
  position: relative;
}

.our-work__text-description {
  position: absolute;
  width: 100%;
  height: 70px;
  font-family: var(--main-font-family);
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  padding: 27px 0;
  color: var(--primary-white-color);
  background-color: rgba(47, 48, 58, 0.8);
  transform: translateY(-100%);
}

.team {
  background-color: var(--background-color);
  text-align: center;
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .team {
    padding: 94px 0;
  }
}

@media screen and (min-width: 768px) {
  .our-team {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 354px);
  }
}

@media screen and (min-width: 1200px) {
  .our-team {
    grid-template-columns: repeat(4, 270px);
  }
}

.our-team__list-specialist {
  background-color: var(--primary-white-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
}

.our-team__list-specialist:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .our-team__list-specialist:not(:last-child) {
    margin-bottom: 0;
  }
}

.our-team__our-specialist {
  padding-top: 30px;
  padding-bottom: 24px;
  display: block;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .our-team__our-specialist {
    padding-bottom: 30px;
  }
}

.specialist {
  color: var(--primary-text-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}

.our-team__job {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
}

.our-team__img {
  width: 100%;
}

.clients {
  padding: 60px 0;
}

@media screen and (min-width: 1200px) {
  .clients {
    padding: 94px 0;
  }
}

@media screen and (min-width: 480px) {
  .clients__list {
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(2, 210px);
  }
}

@media screen and (min-width: 768px) {
  .clients__list {
    grid-template-columns: repeat(3, 226px);
  }
}

@media screen and (min-width: 1200px) {
  .clients__list {
    grid-template-columns: repeat(6, 170px);
  }
}

.clients__list-item:not(:last-child) {
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .clients__list-item:not(:last-child) {
    margin-bottom: 0;
  }
}

.clients__list-link {
  color: var(--decoration-color);
  display: inline-block;
  height: 92px;
  border: 1px solid var(--decoration-color);
  border-radius: 4px;
  transition: color var(--effect-duration) var(--timing-function), border var(--effect-duration) var(--timing-function);
  width: 100%;
}

.clients__list-link:hover, .clients__list-link:focus {
  color: var(--accent-color);
  border: 1px solid var(--accent-color);
}

.clients__list-icon {
  fill: var(--decoration-color);
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: fill var(--effect-duration) var(--timing-function);
}

.clients__list-link:hover .clients__list-icon,
.client__list-link:focus .clients__list-icon {
  fill: var(--accent-color);
}

.footer {
  background-color: var(--second-dark-color);
}

.adress {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .adress {
    grid-area: contacts;
  }
}

@media screen and (min-width: 1200px) {
  .adress {
    margin-right: 70px;
    text-align: left;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .fc {
    display: grid;
    grid-template-columns: 50% 1fr;
    grid-template-rows: auto 1fr;
  }
}

@media screen and (min-width: 1200px) {
  .fc {
    display: flex;
  }
}

.list-footer {
  transition: color var(--effect-duration) var(--timing-function);
}

.list-footer :hover,
.list-footer :focus {
  color: var(--accent-color);
}

.list-footer-item {
  text-decoration: none;
}

.adress-footer {
  color: var(--primary-white-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.71;
  display: block;
  letter-spacing: 0.03em;
  font-style: normal;
  text-decoration: none;
}

.footer-contact {
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
  transition: color var(--effect-duration) var(--timing-function);
}

.main-section-portfolio {
  padding: 94px 0;
}

.list-project {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.project-item {
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
}

.project-item:nth-last-child(-n + 3) {
  margin-bottom: 0px;
}

.project-item:hover, .project-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.project-link {
  text-decoration: none;
}

.project-wrapper {
  position: relative;
  overflow: hidden;
}

.project-description {
  position: absolute;
  width: 100%;
  height: 100%;
  color: var(--primary-white-color);
  background: rgba(33, 150, 243, 0.9);
  top: 100%;
  left: 0;
  font-weight: 400;
  /* font-style: normal; */
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 63px 24px;
  overflow: auto;
  transition: transform var(--effect-duration) var(--timing-function);
}

.project-link:hover .project-description,
.project-link:focus .project-description {
  transform: translateY(-100%);
}

.portfolio-card-content {
  display: block;
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.title-project {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  word-wrap: none;
}

.filtre-project {
  color: var(--second-text-color);
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
/*# sourceMappingURL=main.css.map */