.main-features {
	padding: 60px 0;

	@media screen and (min-width: $desktop) {
		& {
			padding-top: 94px;
			padding-bottom: 0;
		}
	}
}
.features {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;

	&__icon {
		display: flex;
		height: 120px;
		justify-content: center;
		align-items: center;
		background-color: #f5f4fa;
		background-position: 50% 50%;
		background-size: cover;
		background-repeat: no-repeat;
		border-radius: 4px;
		margin-bottom: 30px;
	}

	&__title {
		color: var(--primary-text-color);
		font-family: var(--main-font-family);
		@include font(14px, 700, 16px);
		letter-spacing: 0.03em;
		text-align: center;
		text-transform: uppercase;
		margin-bottom: 10px;
	}
}
.features__item:not(:last-child) {
	margin-bottom: 30px;

	@media screen and(min-width: $tablet) {
		margin-bottom: 0;
	}
}
// =======768===============
@media screen and (min-width: $tablet) {
	.features {
		display: grid;
		grid-template-columns: repeat(2, 354px);
		@media screen and (min-width: $tablet) and (max-width: 1199px) {
			grid-gap: 30px;
		}
	}

	&__item {
		width: 354px;
		&:not(:last-child) {
			margin-bottom: 0px;
		}
	}
}
@media screen and (min-width: $tablet) {
	.features__title {
		text-align: left;
	}
}

// ============1200==========
@media screen and (min-width: $desktop) {
	.features {
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
	}
}

@media screen and (min-width: $desktop) {
	.features__item {
		flex-basis: calc((100% - 30px) / 4);
		&:not(:last-child) {
			margin-right: 30px;
		}
	}
}
