.footer {
	background-color: var(--second-dark-color);
}

.adress {
	text-align: center;
	padding-top: 60px;
	padding-bottom: 60px;

	@media screen and (min-width: $tablet) and (max-width: 1199px) {
		grid-area: contacts;
	}

	@media screen and (min-width: $desktop) {
		margin-right: 70px;
		text-align: left;
	}
}
@media screen and (min-width: $tablet) and (max-width: 1199px) {
	.fc {
		display: grid;
		grid-template-columns: 50% 1fr;
		grid-template-rows: auto 1fr;
		grid-template-areas: "contacts social" "subscribe subscribe";
	}
}

@media screen and (min-width: $desktop) {
	.fc {
		display: flex;
	}
}

.list-footer {
	transition: color var(--effect-duration) var(--timing-function);

	& :hover,
	& :focus {
		color: var(--accent-color);
	}
}
.list-footer-item {
	@include font(14px, 400, 24px);
	letter-spacing: 0.03em;
	font-style: normal;

	&:not(:last-child) {
		margin-bottom: 8px;
		@media screen and (min-width: $desktop) {
			margin-bottom: 9px;
		}
	}
}

.adress-footer {
	color: var(--primary-white-color);
	text-decoration: none;
}
.footer-contact {
	color: rgba(255, 255, 255, 0.6);
	text-decoration: none;
	transition: color var(--effect-duration) var(--timing-function);
}
