.hero {
	background-image: linear-gradient(
			rgba(47, 48, 58, 0.4),
			rgba(47, 48, 58, 0.4)
		),
		url("../images/MOB/mobile-hero.jpg");
	padding: 118px 60px;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	max-width: 480px;
	height: 400px;
	align-items: center;
	text-align: center;
	margin: 0 auto;

	&__title {
		max-width: 360px;
		margin-left: auto;
		margin-right: auto;
		color: var(--primary-white-color);
		@include font(26px, 900, 42px);
		text-align: center;
		letter-spacing: 0.06em;
		text-transform: uppercase;
		margin-bottom: 30px;
	}
}
@media (min-device-pixel-ratio: 2),
	(min-resolution: 192dpi),
	(min-resolution: 2dppx) {
	.hero {
		background-image: linear-gradient(
				rgba(47, 48, 58, 0.4),
				rgba(47, 48, 58, 0.4)
			),
			url(../images/MOB/mobile-hero@2x.jpg);
	}
}
@media screen and (min-width: $tablet) {
	.hero {
		max-width: 768px;
		background-image: linear-gradient(
				rgba(47, 48, 58, 0.4),
				rgba(47, 48, 58, 0.4)
			),
			url(../images/TAB/tablet-hero.jpg);

		@media (min-device-pixel-ratio: 2),
			(min-resolution: 192dpi),
			(min-resolution: 2dppx) {
			& {
				background-image: linear-gradient(
						rgba(47, 48, 58, 0.4),
						rgba(47, 48, 58, 0.4)
					),
					url(../images/TAB/tablet-hero@2x.jpg);
			}
		}
	}
}

@media screen and (min-width: $desktop) {
	.hero {
		max-width: 1600px;
		height: 600px;
		padding: 200px 0;
		background-image: linear-gradient(
				rgba(47, 48, 58, 0.4),
				rgba(47, 48, 58, 0.4)
			),
			url(../images/DESC/desc-hero.jpg);

		@media (min-device-pixel-ratio: 2),
			(min-resolution: 192dpi),
			(min-resolution: 2dppx) {
			& {
				background-image: linear-gradient(
						rgba(47, 48, 58, 0.4),
						rgba(47, 48, 58, 0.4)
					),
					url(../images/DESC/desc-hero@2x.jpg);
			}
		}
		&__title {
			max-width: 696px;
			@include font(44px, 900, 60px);
		}
	}
}

// .hero {
// 	background-color: var(--second-dark-color);
// 	padding: 200px 0;
// 	text-align: center;
// 	background-image: linear-gradient(
// 			rgba(47, 48, 58, 0.4),
// 			rgba(47, 48, 58, 0.4)
// 		),
// 		url("../images/bg.jpg");
// 	background-position: center;
// 	background-size: cover;
// 	max-width: 1600px;
// 	align-items: center;
// 	text-align: center;
// 	margin: 0 auto;

// 	&__title {
// 		color: var(--primary-white-color);
// 		@include font(44px, 900, 60px);
// 		text-align: center;
// 		letter-spacing: 0.06em;
// 		text-transform: uppercase;
// 		margin-bottom: 30px;
// 	}
// }
