.team {
	background-color: var(--background-color);
	text-align: center;
	padding: 60px 0;

	@media screen and(min-width: 1200px) {
		& {
			padding: 94px 0;
		}
	}
}
.our-team {
	@media screen and(min-width: 768px) {
		display: grid;
		grid-gap: 30px;
		grid-template-columns: repeat(2, 354px);
	}

	@media screen and(min-width: 1200px) {
		grid-template-columns: repeat(4, 270px);
	}
}

.our-team__list-specialist {
	background-color: var(--primary-white-color);
	border-radius: 0px 0px 4px 4px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
		0px 2px 1px rgba(0, 0, 0, 0.2);

	&:not(:last-child) {
		margin-bottom: 30px;
	}
}
@media screen and(min-width: 768px) {
	.our-team__list-specialist:not(:last-child) {
		margin-bottom: 0;
	}
}

.our-team__our-specialist {
	padding-top: 30px;
	padding-bottom: 24px;
	display: block;
	text-align: center;

	@media screen and(min-width: 1200px) {
		padding-bottom: 30px;
	}
}
.specialist {
	color: var(--primary-text-color);
	@include font(16px, 500, 19px);
	letter-spacing: 0.03em;
	text-align: center;
	margin-bottom: 10px;
}
.our-team__job {
	@include font(16px, 400, 19px);
	letter-spacing: 0.03em;
	text-align: center;
	margin-bottom: 16px;
}
.our-team__img {
	width: 100%;
}
