.main-section-portfolio {
	padding-top: 60px;
	padding-bottom: 60px;

	@media screen and (min-width: 1200px) {
		padding-top: 94px;
		padding-bottom: 94px;
	}
}

.portfolio {
	@media screen and(min-width: 768px) {
		display: grid;
		grid-gap: 30px;
		grid-template-columns: repeat(2, 354px);
	}

	@media screen and(min-width: 1200px) {
		grid-template-columns: repeat(3, 370px);
	}
}

.portfolio-item {
	position: relative;
	overflow: hidden;

	&:not(:last-child) {
		margin-bottom: 30px;
	}

	@media screen and(min-width: 768px) {
		display: flex;

		&:not(:last-child) {
			margin-bottom: 0;
		}
	}

	transition: box-shadow var(--effect-duration) var(--timing-function);

	&:hover {
		box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
			1px 4px 6px rgba(0, 0, 0, 0.16);
	}

	&__img {
		width: 100%;
	}
}
.portfolio-item__description {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(33, 150, 243, 0.9);
	color: var(--primary-white-color);
	@include font(18px, 400, 28px);
	letter-spacing: 0.03em;
	padding: 24px;
	overflow: auto;
	transition: transform var(--effect-duration) var(--timing-function);

	@media screen and(min-width: 480px) {
		padding-top: 76px;
	}
	@media screen and(min-width: 768px) {
		padding-top: 48px;
	}
	@media screen and(min-width: 1200px) {
		padding-top: 62px;
	}
	.project-link:hover &,
	.project-link:focus & {
		transform: translateY(-100%);
	}
}

.portfolio-card-content {
	padding: 20px 24px;
	border-bottom: 1px solid #eeeeee;
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;

	@media screen and(min-width: 768px) {
		flex-grow: 1;
		flex-direction: column;
	}
}
.title-project {
	@include font(18px, 700, 36px);
	color: var(--primary-text-color);
	letter-spacing: 0.06em;
	margin-bottom: 4px;
}
.filtre-project {
	color: var(--second-text-color);
	font-size: 16px;
	line-height: 1.88;
	letter-spacing: 0.03em;
}
.project-link {
	@media screen and(min-width: 768px) {
		display: flex;
		flex-direction: column;
	}
	text-decoration: none;
}

.project-wrapper {
	position: relative;
	overflow: hidden;
}

.project-link:hover .portfolio-item__description,
.project-link:focus .portfolio-item__description {
	transform: translateY(-100%);
}
