@media screen and(max-width: 767px) {
	.header-contact {
		display: none;
	}
}
.header-contact {
	margin-left: auto;
}

.header-contact__list {
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	@media screen and (min-width: $desktop) {
		flex-direction: row;
		align-items: center;
	}
}
@media screen and(min-width: $tablet) and(max-width: 1199px) {
	.header-contact__item:not(:last-child) {
		margin-bottom: 10px;
	}
}
@media screen and (min-width: $desktop) {
	.header-contact__item {
		position: relative;

		&:not(:last-child) {
			margin-right: 50px;
		}
	}
}

.header-contact__link {
	display: flex;
	align-items: center;
	@include font(12px, 500, 14px);
	color: var(--second-text-color);
	font-style: normal;
	text-decoration: none;
	letter-spacing: 0.02em;
	transition: color var(--effect-duration) var(--timing-function);

	&:hover,
	&:focus {
		color: var(--accent-color);
	}

	@media screen and (min-width: $desktop) {
		& {
			@include font(14px, 500, 16px);
		}
	}
}

.header-contact__icon {
	margin-right: 10px;
	fill: currentColor;
}
