.list-filtre {
	display: flex;
	justify-content: center;
	margin-bottom: 50px;
}
.filtre-item:not(:last-child) {
	margin-right: 8px;
}

.filtre {
	@include font(16px, 500, 26px);
	color: var(--primary-text-color);
	background: var(--background-color);
	font-family: inherit;
	// font-weight: 500;
	// font-size: 16px;
	// line-height: 1.63;
	text-align: center;
	border-radius: 4px;
	border: none;
	padding: 6px 25px;
	transition: color var(--effect-duration) var(--timing-function),
		background var(--effect-duration) var(--timing-function),
		box-shadow var(--effect-duration) var(--timing-function);

	&:hover,
	&:focus {
		color: var(--primary-white-color);
		background: var(--accent-color);
		box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
			0px 2px 2px rgba(0, 0, 0, 0.12);
		cursor: pointer;
	}
}

.all {
	color: var(--primary-white-color);
	background: var(--accent-color);
	fill: var(--primary-white-color);
}
