:root {
	--primary-white-color: #ffffff;
	--second-dark-color: #2f303a;
	--background-color: #f5f4fa;
	--accent-color: #2196f3;
	--primary-text-color: #212121;
	--second-text-color: #757575;
	--decoration-color: #afb1b8;
	--timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	--effect-duration: 250ms;
	--main-font-family: "Roboto", sans-serif;
}
